
#movies img, #movie img{ /* used to make the images responsive*/
    width:100%;
  }
  
  @media(min-width:960px){ /*media query used to change the col and height of image*/
    #movies .col-md-3 .well{
      height: 390px;
    }
  
    #movies .col-md-3 img{
      height:330px;
      width: 330px;
    }
  }
  #searchForm{
      text-align: center;
  }